MINIMAX_API_KEY= 
MINIMAX_API_HOST= `https://api.minimax.io` 
COMPOSIO_API_KEY= 
AGENT_CHAT_IDENTIFIER= 
QUIET_HOURS_START=23 
QUIET_HOURS_END=7 
MAX_PROACTIVE_PER_HOUR=3 
MORNING_BRIEFING_HOUR=8 
EOD_REVIEW_HOUR=18 
PRE_MEETING_MINUTES=15